#basic-nav-dropdown {
  color: #ffffff;
}

.nav-item .dropdown-menu {
  background: #272727;
}

.nav-item .dropdown-item {
  color: #ffffff;
}
  
.nav-item .dropdown-item:hover {
    background: #f0ad4e;
}
  
.navi__bg{
    background: #131313;
}

.roundbutton{
  background-color: #f1f0f0;
  border-radius: 40px;
  height: 8dvh;
  width: 8dvh;
  margin: 10px;
  border-width: 0;
  -webkit-box-shadow: 10px 5px 8px 2px rgba(0,0,0,0.21); 
  box-shadow: 10px 5px 8px 2px rgba(0,0,0,0.21);
}

.roundbuttonNOSHADOW{
  background-color: #f1f0f0;
  border-radius: 40px;
  height: 8dvh;
  width: 8dvh;
  margin: 10px;
  border-width: 0;
}

.sidebar {
  background-color: #f1f0f0;
  border-radius: 20px;
  padding: 10;
  height: 40dvh;
  width: 80px;
  border-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  -webkit-box-shadow: 10px 5px 8px 2px rgba(0,0,0,0.21); 
  box-shadow: 10px 5px 8px 2px rgba(0,0,0,0.21);
}

.appcontainer{
  display: flex;
  flex-direction: row;
}

.mojenieruszac{
  width: 92dvw;
  height: 100dvh;
}

.xd{
  align-items: center;
  flex-direction: column;
  width: 92dvw;
  height: 100dvh;
  justify-content: center;
  justify-items: center;
}

.button{
  width:14vw;
  height:40px;
  justify-content: center;
  justify-items: center;
  margin-left: 10%;
  margin: 10px;
  border-radius: 20vh;
  color: white;
  background-color: firebrick;
  border-width: 0;
  -webkit-box-shadow: 10px 5px 8px 2px rgba(0,0,0,0.21); 
  box-shadow: 10px 5px 8px 2px rgba(0,0,0,0.21);
}

.button1{
  width:20vw;
  height:2vw;
  justify-content: center;
  justify-items: center;
  margin: 2%;
  border-radius: 20vh;
  color: white;
  background-color: deepskyblue;
  border-color:deepskyblue ;
  margin-right: 40%;
}

.chat{
  width: 100vw;
  height: 100vh;
}

.xd3{
  width: 92vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 10;
  font-size: 16px;
}

.swi {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Dodaj margines między powiadomieniem a przełącznikiem */
}

.react-switch {
  margin-left: 10px; /* Dodaj odstęp między tekstem a przełącznikiem */
}

.react-switch2 {
  margin-left: 32px;
}

.react-switch3 {
  margin-left: 40px;
}

.app{
  display: flex;
  flex-direction: column;
  width: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.title{
  display: flex;
  margin-top: 0%;
  margin: 2%;
  margin-left: 46.5%;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 10;
  font-size: 16px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textinput {
  /* Dodaj odpowiednie style dla textinput */
  border-radius: 20px !important;
  margin: 10px;
  padding: 8px;
  background-color: #dbdada;

}

.button2 {
  /* Dodaj odpowiednie style dla button */
  margin: 10px;
  padding: 8px;
  background-color:#2699c7 ;
  border-radius: 10px;
}

.error {
  border-color: red;
  border-width: 1px;
}

.rc-time-picker-clear {
  line-height: 15px !important;
}

.time{
  border-radius: 20vh !important;
}

.react-time-picker__wrapper {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 40px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.map{
  position: relative; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
}

.dropdownmap{
  width: 30vw;
  margin: 8px;
  border-radius: 40px !important;
  -webkit-box-shadow: 10px 5px 8px 2px rgba(0,0,0,0.21); 
  box-shadow: 10px 5px 8px 2px rgba(0,0,0,0.21);
}

.shadow{
  -webkit-box-shadow: 10px 5px 8px 2px rgba(0,0,0,0.21); 
  box-shadow: 10px 5px 8px 2px rgba(0,0,0,0.21);  
}

.noti{
  width: 35dvw;
  margin: 10px;
  z-index: 2;
  padding: 10px;
  border-radius: 30px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: center !important;
}


.login{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
  justify-content: center;
  justify-items: center;
}

.img{
  width: 300px;
 height: 300px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 20px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}